a {
  color: white;
  text-decoration: none;
}

.top-navbar {
  background-color: #333;
  width: 100vw;
}

.navbar {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0px 25px;
  overflow: hidden;
  width: 400px;
  height: 49px;
  position: relative;
}

.navbar.right {
  float: right;
}

.navbar li {
  margin: 0px 10px;
  line-height: 40px;
}

.nvabar li a:hover {
  background-color: #111;
}
